[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/kube"]
	path = themes/kube
	url = git@github.com:jeblister/kube.git
[submodule "themes/whitespace"]
	path = themes/whitespace
	url = https://github.com/niklasfasching/whitespace
